.page {
    margin: 0 auto;
    background: #2A2C2F;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@media screen and (max-width:3840px) and (min-width:424px){
    .page {
        width: 100%;
        min-height: 6875px;
    }
}
@media screen and (max-width:425px){
    .page {
        max-width: 100%;
        min-height: 10023px;
    }
}