.page {
    margin: 0 auto;
    background: #2A2C2F;
    font-family: 'Inter';
    box-sizing: border-box;
}
@media screen and (max-width:3840px) and (min-width:1279px){
    .page {
        width: 100%;
        min-height: 6875px;
    }
}
@media screen and (max-width:1280px) and (min-width:1023px){
    .page {
        max-width: 100%;
        min-height: 6875px;
    }
}
@media screen and (max-width:1024px) and (min-width:767px){
    .page {
        max-width: 100%;
        min-height: 6875px;
    }
}

@media screen and (max-width:768px) and (min-width:709px) {
    .page {
        max-width: 100%;
        min-height: 6875px;
    }
}
@media screen and (max-width:425px){
    .page {
        max-width: 100%;
        min-height: 10023px;
    }
}