.lead{
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 0;
}

@media screen and (max-width:1280px) and (min-width:1023px){
    .lead{
        margin-top: 56px;
        margin-left: 148px;
        margin-right: 148px;
    }
}
@media screen and (max-width:1024px) and (min-width:767px){
    .lead{
        margin-left: 48px;
        margin-right: 48px;
        max-width: 928px;
    }
}
@media screen and (max-width:768px) {
    .lead{
        width: 100%;
        max-width: 768px;
    }
}