@font-face {
    src: url(../vendor/fonts/inter/Inter-Black.woff) format("woff"),
        url(../vendor/fonts/inter/Inter-Black.woff2) format("woff2");
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
}
@font-face {
    font-family: 'Inter';
    src: url(../vendor/fonts/inter/Inter-Regular.woff) format("woff"),
    url(../vendor/fonts/inter/Inter-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

@font-face {
    font-family: 'Inter';
    src: url(../vendor/fonts/inter/Inter-Medium.woff) format("woff"),
    url(../vendor/fonts/inter/Inter-Medium.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}
    
.page {
    margin: 0 auto;
    background: #2A2C2F;
    font-family: 'Inter';
    box-sizing: border-box;
}
    
.header{
      display: flex;
      justify-content: space-between;
      max-width: 1184px;
      margin: 0 auto;
      margin-top: 28px;
}
.header__logo{
      left: 48px;
      top:28px;
      width: 176px;
      height: 52px;
}
  
.header__lang-links{
    list-style: none;
    display: inline;
  }

.header__lang-link-en{
    text-decoration: none;
    margin-left: 18px;
}
.link{
    transition: ease-in 1s;
}

.link:hover{
    opacity: 0.8;
}
.header__lang-link{
    font-family: 'Inter';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;   
  }

 .lead{
      display: flex;
      flex-direction: column;
      max-width: 984px;
      margin: 0 auto;
  }

.lead__title{
    max-width: 720px;
    min-height: 200px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    font-family: 'Inter';
    color: #FFFFFF;
    text-align: center;
  }
  .lead__subtitle{
    max-width: 640px;
    min-height: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.20;
    text-align: center;
    color: #FFFFFF;
  }

.lead__image{
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
}
.lead__caption{
    margin-bottom: 0;
    margin-top: 8px;
    left: 0;
    align-self: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF
}
.intro{
    display: flex;
    flex-direction: column;
    max-width: 690px;
    min-height: 429px;
    box-sizing: border-box;
}
.intro__title{
    margin-top: 0;
    width: 100%;
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #FFFFFF;
}
.intro__text{
    margin: 0;
    width: 100%;
    min-height: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #FFFFFF;
}
.intro__list{
    padding: 0;
    list-style: none;
    margin-top: 33px;
    width: 100%;
    min-height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
}

.photo-grid{
    display: grid;
    max-width: 1184px;
    grid-template-columns: repeat(auto-fit,minmax(284px,1fr));
    gap:16px;
    margin: 0 auto;
    padding: 0;
}
.photo-grid__item{
    object-fit: cover;
    object-position: center;
    min-height:100%;
    width: 100%;
}

.places{
    max-width: 984px;
}
.place{
    display: grid;
    grid-template-areas: 
    "title website"
    "image paragraph";
    column-gap: 40px;
    row-gap: 48px;
}

.place__title{
    grid-area: "title";
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    max-width: 460px;
    min-height: 152px;
    margin: 0;
    color: #FFFFFF;
}
.place__image{
    grid-area: image;
    width: 100%;
}
.place__website{
    align-self: end;
}
.place__link{
    grid-area: website;
    max-width: 456px;
    min-height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__text{
    align-items: start;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    list-style: none;
}
.place__paragraph{
    grid-area: paragraph;
}
.place__paragraph:first-child{
    margin-bottom: 26px;
}

.place__url-heading{
    grid-area: website;
    margin: 0;
    padding: 0;
    max-width: 456px;
    min-height: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
}

.cover{
    display: flex;
    flex-direction: column;
    background-image: url(../images/Cover/__background.jpg);
    background-repeat: no-repeat;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    background-size: cover;
    margin-bottom: 92px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    position: relative;
   
}
.cover::after{
    opacity: 0.3;
    content:'';
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    position: absolute;
}

.cover:hover::after  {
    opacity: 0.8;
  }
.cover__title{
    max-width: 560px;
    min-height: 152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.cover__subtitle{
    max-width: 360px;
    min-height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 0;
    z-index: 1;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 18px;
    max-width: 1184px;
    height: 18px;
    margin: 0 auto;
}
.footer__link{
    max-width: 50px;
    min-height: 18px;
    margin-right: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__copyright{
    min-width: 186px;
    min-height: 16px;
    top: 6835px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: right;  
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width:3840px) and (min-width:1279px){
    .page {
        width: 100%;
        min-height: 6875px;;
    }
    .header{
        padding-right: 48px;
        padding-left: 48px;
      }
    .lead{
        margin-top: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .intro{
        margin-top: 92px;
        margin-left: 148px;
        margin-right: 442px;
        margin-bottom: 92px;
    }
    .photo-grid{
        margin-bottom: 92px;
    }
    .places{
        margin-left: auto;
        margin-right: auto;
    }
    .place{
        margin-bottom: 80px;
    }
    .cover{
        margin-left: auto;
        margin-right: auto;
    }
    .footer{
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width:1280px) and (min-width:1023px){
    .page {
        max-width: 100%;
        min-height: 6875px;
    }
    .header{
        padding-right: 48px;
        padding-left: 48px;
      }
    .lead{
        margin-top: 56px;
        margin-left: 148px;
        margin-right: 148px;
        margin-bottom: 0;
    }
    .intro{
        margin-top: 92px;
        margin-left: 148px;
        margin-right: 442px;
        margin-bottom: 92px;
    }
    .photo-grid{
        margin-bottom: 92px;
    }
    .places{
        margin-left: auto;
        margin-right: auto;
    }
    .place{
        max-width: 984px;
        min-height: 660px;
        margin-bottom: 80px;
    }
    .place__title{
        max-width: 440px;
    }
    .cover{
        margin-left: auto;
        margin-right: auto;
    }
    .footer{
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 24px;
    }
}
@media screen and (max-width:1024px) and (min-width:767px){
    .page {
        max-width: 1024px;
        min-height: 6875px;
    }
    .header{
        margin-right: 48px;
        margin-left: 48px;
    }
    .lead{
        margin-top: 48px;
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 0;
        max-width: 928px;
    }
    .intro{
        width: 690px;
        min-height: 429px;
        margin-left: 48px;
        margin-right: 268px;
        margin-top: 92px;
        margin-bottom: 92px;
    }
    .photo-grid{
        gap:14px;
        margin-bottom: 92px;
        margin-left: 48px;
        margin-right: 48px;
    }
    .places{
        max-width: 928px;
        margin-left: 48px;
        margin-right: 48px;
    }
    .place{
        min-height: 660px;
    }
    .place__text{
        max-width: 456px;
        min-height: 232px;
    }
    .cover{
        width: 100%;
        min-height: 640px;
    }
    .footer{
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 24px;
        max-width: 926px;
    }
    .footer__links{
        max-width: 465px;
        display: flex;
        justify-content: space-between;
    }
    .footer__link{
        margin-right: 18px;
        max-width: 106px;
    }
}


@media screen and (max-width:768px) and (min-width:709px) {
    .page {
        max-width: 768px;
        min-height: 6875px;
    }
    .header{
        margin-right: 24px;
        margin-left: 24px;
    }
    .lead{
        margin-top: 48px;
        width: 100%;
        max-width: 768px;
    }
    .intro{
        max-width: 720px;
        min-height: 429px;
        margin-top: 88px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 88px;
    }
    .photo-grid{
        margin-bottom: 88px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .places{
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .place{
        min-height: 581px;
    }
    .place__title{
        max-width: 340px;
        min-height: 92px;
        font-size: 42px;
        line-height: 1.1;
    }
    .place__text{
        max-width: 352px;
        min-height: 182px;
        font-size: 16px;
    }
    .cover{
        width: 100%;
        min-height: 480px;
    }
    .footer{
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
        max-width: 720px;
    }
    .footer__links{
        max-width: 465px;
        display: flex;
        justify-content: space-between;
    }
    .footer__link{
        margin-right: 18px;
        max-width: 106px;
    }
  
}

@media screen and (max-width:709px) and (min-width:425px){
    .lead__title{
        font-size: 70px;
        line-height: 1.04;
        margin-top: 120px;
      }
      .footer{
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 24px;
        max-width: 709px;
    }
    .footer__links{
        max-width: 709px;
        display: flex;
        justify-content: space-between;
    }
    .footer__link{
        margin-right: 8px;
        max-width: 106px;
    }
    .photo-grid{
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 88px;
    }
    .places{
        max-width: 661px;
        margin:0;
    }
    .place{
        display: grid;
        grid-template-areas: 
        "title" 
        "website"
        "image" 
        "paragraph";
        grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
        margin-bottom: 64px;
        row-gap: 32px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width:425px){
    .page {
        max-width: 425px;
        min-height: 10023px;
    }
    .header{
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;
        max-width: 288px;
    }
    .header__logo{
        width: 142px;
        height: 42px;
    }
    .header__lang-link{
        font-size: 18px;
        line-height: 1.11;
    }
    .lead{
        margin-top: 48px;
        width: 100%;
    }
    .lead__title{
        width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 1.1;
    }
    .lead__subtitle{
        width: 288px;
        min-height: 40px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 40px;
        margin-top: 16px;
    }
    .lead__caption{
        padding-left: 16px;
    }
    .intro{
        max-width: 288px;
        min-height: 754px;
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
    }
    .intro__title{
        font-size: 32px;
        line-height: 35px;
        line-height: 1.09;
    }
    .intro__text{
        width: 288px;
        height: 520px;
    }
    .photo-grid{
        column-gap:12px;
        margin-bottom: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .places{
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
    .place{
        display: grid;
        grid-template-areas: 
        "title" 
        "website"
        "image" 
        "paragraph";
        grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
        margin-bottom: 64px;
        row-gap: 32px;
    }
    .place__image{
        max-width: 320px;
        min-height: 320px; 
        }
    .place__title{
        max-width: 340px;
        min-height: 92px;
        font-size: 42px;
        line-height: 1.09;
        padding-left: 16px;
    }
    .place__website{
        padding-left: 16px;
    }
    .place__text{
        max-width: 288px;
        min-height: 208px;
        padding-left: 16px;
    }    
    .cover{
        width: 100%;
        min-height: 200px;
        margin-bottom: 64px;
    }
    .cover__title{
        max-width: 288px;
        min-height: 70px;
        font-size: 32px;
        line-height: 1.09;
        margin-top: 33px;
    }
    .cover__subtitle{
        max-width: 288px;
        min-height: 48px;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.14;
        margin-top: 16px;
        margin-bottom: 33px;
    }
    .footer{
        margin-left: 16px;
        margin-right: 118px;
        margin-bottom: 24px;
        max-width: 186px;
        min-height: 310px;
        flex-direction: column;
    }

    .footer__links{
        min-height: 248px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .footer__link{
        margin-bottom: 32px;
    }

    .footer__copyright{
        max-width: 186px;
        min-height: 14px;
        text-align: start;
    }
}



